<%- include('partials/header') %>
<% console.log(movies) %>
<% movies.forEach((movie) => { %>
<div>
    <img src="/images/<%= movie.photo %>" alt="Movie Poster">
</div>
<% }) %>

<%- include('partials/footer') %>